.card_booking {
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
  width : 400px;
  margin-bottom: 100px;
}

.banner_show {
  height: 70vh;
  margin: 0 auto;
  margin-bottom: 10px;
  background-position: center;
}
