<div class='searchform-class'>
    <%= simple_form_for cars_path, url: cars_path, method: :get, html: {class: 'form-inline form-group'} do |f| %>
      <%= f.input_field :address, placeholder: 'Where do you wanna go?', class: 'form-control search', style: 'width: 270px ' %>
      <%= f.select :brand, options_for_select(@brands), class: 'form-control', include_blank: 'Choose a brand' %>
      <%= f.submit 'Ride', class: 'btn btn-default' %>
    <% end %>
</div>
