  <form method="get" action="<%= cars_path %>" class="flex-form">

    <input type="search" placeholder="Where do you wanna go?" />
    <label for="from">From</label>
    <input type="date" name="from" />

    <label for="to">To</label>
    <input type="date" name="to" />

    <select name="brands" id="brands">
      <option value="1">1 guest</option>
      <option value="2">2 guests</option>
      <option value="3">3 guests</option>
      <option value="4">4 guests</option>
      <option value="5">5 guests</option>
    </select>

    <input type="submit" value="Search" />

  </form>
