
    <!-- Code your banner HTML here -->
    <div class="banner">
      <div class="banner-back">
        <div class="video-background">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PNdIDy6usaU?loop=1&autoplay=1&amp;mute=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;start=1" frameborder="0" allow="autoplay; loop; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="banner-content">
          <h1>The ultimate driving experience</h1>
          <%= render 'shared/searchform' %>
        </div>
      </div>
    </div>

