<html>
  <head>
    <meta charset="utf-8">
    <title>Product page</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>
  <body>
    <!-- Code your banner HTML here -->
    <div class="banner">
      <div class="banner-back">
        <div class="video-background">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PNdIDy6usaU?autoplay=1&amp;mute=1&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;start=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="banner-content">
          <h1>The ultimate driving experience</h1>
          <p>Imagine being behind the wheel of the most luxurious car on the planet</p>
        </div>
      </div>
      <%= render 'shared/searchform' %>
    </div>
  </body>
</html>
