<html>
  <head>
    <meta charset="utf-8">
    <title>Product page</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Code your banner HTML here -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url(images/Breakfast.jpg)">
      <h1>The ultimate driving experience</h1>
      <p>Imagine being behind the wheel of the most luxurious car on the planet</p>
      <a class="btn-primary">Live the dream</a>
    </div>
    <div class="container">
    </div>
  </body>
</html>
