* {
  margin: 0;
  padding: 0;
}


.flex-form {
  display: flex;
  border: 20px solid rgba(0,0,0,0);
  border-radius: 50px;
  justify-content: space-between;
}

label {
  color: grey;
  border-radius: 50px;
}

input[type=start] {
  flex-basis: 500px;
  border-radius: 50px;
}

.flex-form > * {
  border: 0;
  padding: 10px;
  line-height: 40px;
  font-size: 15px;
  border-radius: 0;
  outline: 0;
  background: #fff;
  margin-left: 10px;
}

.flex-form input[type=submit] {
  background: #f05;
  color: white;
  border-radius: 50px;
}

.flex-form input[type=submit]:hover{
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 0 5px rgba(59, 91, 214, 0.4);
  margin: 0;
}
