
<div class="container">

  <div class="row">
    <%= render 'shared/searchform' %>
  </div>

  <div class="row">
    <% @cars.each do |car| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/card', car: car %>
        </div>
    <% end %>
  </div>

</div>
